div a, #menu li.active a {
    color: #0088ff;    
}

div a:hover, #description div ul li:hover, #menu li a {
    color: #63b0fd;
}

div a {
    text-decoration: none;
}
#main, #description, #infova, .output {
    color: #596067;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 16px;
}

/* no centering possible with:
#wrapper {   
    max-width: 800px;
}
*/

#main {
    /*    float: right;*/
    padding-left: 5px;
    width: 500px;
    margin: 0 auto;
}
#main, #mainOutput {
    z-index: 100
}
#speaker {    
    float: left;    
}
#speaker, #avatar, #oddcastscript {    
    z-index: 1;
}
#avatar {    
    padding-left: 70px;
    cursor: pointer;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

#description {
    width: 360px;
}
#description li {
    cursor: pointer;
    line-height:120%
}

#description div ul li {
    /*    border-bottom: 1px solid #ccc;*/
    text-decoration: underline;
}

.app-description {
    padding-left: 5px;
    line-height:120%;
    font-size: 12px;
}
.usage-description {
    font-size: 12px;
}
.usage-description ul {
    padding-left: 20px;
}
.bold {
    font-weight: bold;
}
.hidden {
    display: none;
}

#locale-menu_msdd, #locale-menu {
    z-index: 0;
    position: fixed;
    top: 30px;
    right: 20px;
}

#locale-menu_msdd img {
    margin-bottom: 7px;
}
#menu {
    padding: 0px;
}

#menu li {    
    padding-right: 5px;
    margin-right: 8px;
    display: inline;    
}

#menu li a {
    font-size: 14px;    
    font-weight: bold;    
}

.pannous_img img {
    margin-bottom: -14px;
}
.inputDiv {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 5px;
    color: gray;
}
.small {
    font-size: small;
}
.cite-font {
    font-size: 10px;
    float: right;
    margin-top: -5px;
}
.horizontal-space {
    padding-left: 4px;
    padding-right: 2px;
}

.output {
    /* speaker - padding */
    width: 340px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: #ccc groove 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.output ol, .output ul {
    padding-left: 15px;    
}
.output img {
    max-height: 340px;
    max-width: 340px;
}
.imgborder {
    padding-top: 7px;
    padding-bottom: 7px;
}
#header {
    float: none;
    width: 370px;
}
#myinput {
    width: 330px;
    min-height:25px;
}
.clear {
    clear: both;
}
.error {
    color: #F26522;
}
#toggleSpeach {
    cursor: pointer;
}
.left {
    float: left;
}
.right {
    float: right;
}
#interim_span {
    color: orangered;
}
#start_img {
    width: 26px;
    height: 26px;
}
#speechrec_start  {   
    /*    border: none;*/
    margin-left: 0px;
    margin-top: 2px;    
    padding: 0px;
    width: 32px;
    height: 30px;
}

#speechrec_start:hover {    
    background-color: white;
    border: groove lightgray 1px;
}
#google_div {
    display: none;
}
#google_login {
}
#google_logout {
    display: none;
}
#google_logout img {
    width: 20px;
    padding-right: 10px;
}
#google_logout span {
    font-size: 14px;
}
#google_logout {
    position: fixed;
    top: 30px;
    left: 20px;    
}

.info p {
    z-index: 1;
    position: fixed;
    top: 0px;
    right: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: orange;
}

#logo {
    margin-left: -25px;
    margin-top: -2px;
    margin-bottom: -5px;
    width: 400px;
}

.clickable {
    cursor: pointer;
}

#inputarea {
    margin-left: -80px;
    margin-top: 1px;
    margin-bottom: 20px;
}